<main class="h-screen flex flex-col overflow-hidden bg-cover bg-center bg-no-repeat bg-fixed"
  [style.background-image]="'url(/assets/background.webp)'">
  <lib-header>
    <div class="w-full flex items-center justify-center gap-3 flex-wrap">
      @if (isTodoPage()) {
      @if (todoInputComponent(); as todoInputComponent) {
      <ng-container [ngComponentOutlet]="todoInputComponent" />
      }
      }
      <app-header-shell-event-buttons />
    </div>
  </lib-header>
  <div class="flex-1 min-h-0 overflow-auto">
    <router-outlet />
  </div>
  <lib-footer>This is Shell 2026</lib-footer>
</main>

@if (loading()) {
<lib-loader />
}