* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

app-root {
  display: block;
  height: 100%;
}

body {
  background-color: #e9f5d4;
}

.mat-mdc-form-field-bottom-align {
  display: none !important;
}
