<div class="flex items-center justify-center min-h-[calc(100vh-200px)] pt-20 pb-10 px-10">

  <form [formGroup]="form()" (ngSubmit)="onSubmit()"
    class="w-full max-w-lg bg-white/10 backdrop-blur-md rounded-lg p-8 shadow-lg">
    <h2 class="text-2xl font-bold text-white pb-6 text-center">
      {{ title() }}
    </h2>

    <mat-form-field appearance="outline" class="w-full mb-6">
      <input matInput type="email" formControlName="email" placeholder="Enter your email" />

      @if (form().get('email')?.hasError('required') && form().get('email')?.touched) {
      <mat-error>Email is required</mat-error>
      }

      @if (form().get('email')?.hasError('email') && form().get('email')?.touched) {
      <mat-error>Please enter a valid email</mat-error>
      }
    </mat-form-field>
    <div class="relative">
      <mat-form-field appearance="outline" class="w-full mb-6">
        <input #passwordInput matInput class="opacity-0" type="password" formControlName="password"
          placeholder="Enter your password" />
        <button mat-icon-button matSuffix type="button" [attr.aria-label]="'Toggle password visibility'"
          [attr.aria-pressed]="!hidePassword" (click)="togglePasswordVisibility()">
          <mat-icon>
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </button>

        @if (form().get('password')?.hasError('required') && form().get('password')?.touched) {
        <mat-error>Password is required</mat-error>
        }
      </mat-form-field>
      @if(hidePassword) {
      <p class="absolute top-5 left-5 text-white cursor-text" (click)="passwordInput.focus()">{{passwordValue() |
        passwordMask:maskSymbol}}</p>
      } @else {
      <p class="absolute top-5 left-5 text-white cursor-text" (click)="passwordInput.focus()">{{passwordValue()}}</p>
      }
      @if(!passwordValue()){
      <span class="absolute top-4 left-5 text-[#ffffff99] cursor-text" (click)="passwordInput.focus()">Enter the
        password</span>
      }
    </div>
    <button mat-raised-button type="submit" class="w-full mb-3.5" [disabled]="form().invalid || loading()">
      {{ submitText() }}
    </button>
    @if (showRessetButton()) {
    <button mat-raised-button type="button" class="w-full"
      [disabled]="!form().get('email')?.valid || !form().get('password')?.valid || loading()" (click)="onReset()">
      {{ ressetText() }}
    </button>
    }
  </form>
</div>
