<div class="w-full flex items-center justify-center gap-3 flex-wrap">
  @if (user$ | async; as user) {
  <button mat-raised-button [disabled]="loading()" (click)="dispatchEvent(OUT_GOING_EVENTS.LOGOUT)">{{ 'shell.signOut'
    | translate }}</button>
  <button mat-raised-button (click)="dispatchEvent(OUT_GOING_EVENTS.TO_TODO)">{{ 'shell.todo' | translate }}</button>
  <button mat-raised-button (click)="dispatchEvent(OUT_GOING_EVENTS.TO_USER)">{{ 'shell.user' | translate }}</button>
  } @else {
  <button mat-raised-button (click)="dispatchEvent(OUT_GOING_EVENTS.TO_SIGN_IN)">{{ 'auth.signIn' | translate }}</button>
  <button mat-raised-button (click)="dispatchEvent(OUT_GOING_EVENTS.TO_SIGN_UP)">{{ 'auth.signUp' | translate }} </button>
  }
</div>