<div
  class=" w-full  max-w-150 mx-auto p-6 bg-transparent backdrop-blur-lg rounded-2xl shadow-md  transition-all duration-300 hover:-translate-y-1 hover:shadow-lg">
  <div class="flex items-center justify-between mb-5  border-b-2 border-[#f7ede2]">
    <div class="flex items-center gap-3 flex-1">
      <h2 class="text-xl font-semibold text-[#f7ede2] tracking-wide transition-all duration-300">
        {{ todo().name }}
      </h2>
    </div>
    <button mat-icon-button (click)="onDeleteTodo(todo().id)" [disabled]="taskLoading()">
      <mat-icon class="icon">delete</mat-icon>
    </button>
  </div>
  @if (subtasks.length > 0) {
  <div>
    <p class="text-sm pb-2.5 font-semibold text-[#f7ede2] uppercase tracking-wide">Subtasks</p>
    <ul class="flex flex-col gap-2 list-none ">
      @for (sub of subtasks.controls; track sub.value.id) {
      <li [formGroup]="sub"
        class="flex items-center justify-between p-3  bg-transparent backdrop-blur-lg transition-all duration-300  hover:translate-x-1 "
        [class.bg-gray-50]="sub.value.completed">

        @if (editingIndex() && editingIndex() === sub.value.id) {
        <div class="flex items-center  gap-2 w-full flex-1">
          <mat-checkbox formControlName="completed" (change)="onToggleSubtask(sub)" class="flex-1"
            [disabled]="taskLoading()" />
          <mat-form-field appearance="outline">
            <input matInput formControlName="name" (keydown.enter)="onSaveSubtask(sub)"
              (keydown.escape)="cancelEditing()" [readonly]="taskLoading()" />
          </mat-form-field>
          <div class="flex  items-center gap-1">
            <button mat-button (click)="onSaveSubtask(sub)" [disabled]="taskLoading()">
              Save
            </button>
            <button mat-button (click)="cancelEditing()" [disabled]="taskLoading()">
              Cancel
            </button>
          </div>
        </div>
        } @else {
        <span class="text-[#d6082bcc] font-medium text-[0.95rem] transition-all duration-300"
          [class.line-through]="sub.value.completed" [class.text-gray-500]="sub.value.completed">
          {{ sub.value.name }}
        </span>
        <div class="flex items-center gap-1">
          <button mat-button (click)="startEditing(sub.value.id)" [disabled]="taskLoading()">
            Edit
          </button>
          <button mat-icon-button (click)="onDeleteSubtask(sub.value.id)" [disabled]="taskLoading()">
            <mat-icon class="icon">delete</mat-icon>
          </button>
        </div>
        }
      </li>
      }
    </ul>
  </div>
  }
  <div class="mt-5 pt-4">
    <app-form [form]="form" [buttonText]="'Add Subtask'" [placeholder]="'Add subtask'"
      (todoSubmitted)="onAddSubTask($event)" />
  </div>
</div>

@if(taskLoading()){
<lib-loader />
}