<div class="h-full">
  <app-todo-input (newTodo)="onAddNewTodo($event)" />
  <div class="flex p-5  items-center justify-around flex-wrap">
    @for (todo of todosList(); track todo.id) {
    <app-todo-card [todo]="todo" [taskLoading]="taskLoadingTodoId() === todo.id"
      [confirmedTaskUpdate]="confirmedTaskUpdate()" (deleteTodo)="deleteTodo($event)" (addSubtask)="addSubtask($event)"
      (updateSubtask)="updateSubtask($event)" (deleteTask)="deleteSubtask($event)" />
    }
  </div>

  @if(loader()){
  <lib-loader />
  }
</div>