<div
  class="history-paginator-scope w-full p-7.5 overflow-hidden rounded-lg bg-white/10 shadow-lg backdrop-blur-md flex flex-col items-center justify-center text-amber-100">
  <app-event-drop-down (eventChange)="onEventFilterChange($event)"></app-event-drop-down>
  @if(historyList().length === 0) {
  <div class="p-10 text-center text-amber-200">
    {{ 'history.noEventsYet' | translate }}
  </div>
  } @else {
  <table mat-table [dataSource]="historyList()" matSort [matSortActive]="'date'" [matSortDirection]="'desc'"
    matSortDisableClear (matSortChange)="onSortChange.emit($event)" class="w-full">
    <ng-container matColumnDef="N">
      <th mat-header-cell *matHeaderCellDef>{{ 'history.numberColumn' | translate }}</th>
      <td mat-cell *matCellDef="let item; let i = index">
        {{ pageIndex()*pageSize() +i+1 }}
      </td>
    </ng-container>
    <ng-container matColumnDef="event">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'history.eventColumn' | translate }}</th>
      <td mat-cell *matCellDef="let item">
        {{ item.event }}
      </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'history.dateColumn' | translate }}</th>
      <td mat-cell *matCellDef="let item">
        {{ item.date | date:'medium' }}
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="openTodoDetails(row)"
      class="cursor-pointer hover:bg-white/10">
    </tr>
  </table>
  <app-paginator [total]="total()" [pageIndex]="pageIndex()" [pageSize]="pageSize()"
    [pageSizeOptions]="pageSizeOptions()" (pageChange)="onPageChange($event)"></app-paginator>
  }
</div>